@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome vunene</h1>
    
    <h2 class="display-4">click the link below</h2>
    <p>Learn about <a href="https://github.com/VuneneMaluleke/GITLAB1">building Web apps with ASP.NET Core</a>.</p>
</div>
 